.style-switcher{
    position:fixed;
    top:50px;
    right:0;
    width:80px;
    z-index:101;
    
    
}
.style-switcher .s-icon{

    position:absolute;
    height:40px;
    width:40px;
    background: var(--bg-black-100);
    border-radius: 50%;
    color:var(--text-black-900);
}
